@import 'modern-normalize/modern-normalize.css';

:root {
  --font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-size-monospace-normal: 11px;
  --font-size-sans-normal: 12px;
  --font-size-sans-large: 14px;
  --line-height-data: 18px;

  --color-background: #fff;
  --color-button-background: #d9d9d9;
  --color-button-background-hovered: #cecece;
  --color-button-background-pressed: #bebebe;
  --color-button-background-disabled: #e1e1e1;
  --color-button: #30343b;
  --color-button-hovered: #2c3036;
  --color-button-pressed: #000;
  --color-button-disabled: #90969a;
  --color-focus-visible: #0088fa;
  --color-icon-button-background: #ffffff;
  --color-icon-button-background-focused: #ececec;
  --color-icon-button: #5f6673;
  --color-icon-button-disabled: #cfd1d5;
  --color-icon-button-pressed: #23272f;
  --color-icon-button-hovered: #23272f;
  --color-executor-unsettled: #bfbfbf;
  --color-executor-fulfilled: green;
  --color-executor-rejected: red;
  --color-warning: #f57900;
  --color-disabled: #8f8f8f;
  --color-tooltip-background: rgba(0, 0, 0, 0.9);
  --color-tooltip-text: #ffffff;
  --color-expand-collapse-toggle: #777d88;
  --color-key-preview: #23272f;
  --color-value-preview: #1a1aa6;
  --color-value-preview-deactivated: #8383d1;
  --color-text: #000000;
  --color-resize-bar: #dfdfdf;
  --color-border: #eeeeee;
  --color-background-inactive: #e5e5e5;
  --color-background-selected: #0088fa;
  --color-text-selected: #ffffff;
  --color-search-match: #f7923b;
}

html {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-normal);
  line-height: var(--line-height-data);
}

svg {
  flex: 0 0 auto;
  vertical-align: top;
}

#container {
  display: flex;
  flex: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
