.Section {
  padding: 4px 8px;
  border-top: solid 1px var(--color-border);
}

.SectionTitle {
  display: block;
  white-space: nowrap;
}

.NoData {
  color: var(--color-no-data);
}

.Statuses {
  margin-block-start: 4px;
}

.ButtonGroup {
  display: flex;
  gap: 8px;

  &:not(:empty) {
    margin-block-start: 8px;
  }
}

.DeactivatedIcon {
  color: var(--color-warning);
  width: 16px;
  height: 16px;
  margin: 1px;
  vertical-align: top;
}

.Spacer {
  margin-inline-end: 4px;
}
