.Layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  --horizontal-layout-ratio: 40%;
  --vertical-layout-ratio: 50%;
  --resize-direction: horizontal;
}

.Resizing {
  user-select: none;
}

.LeftBlock {
  flex: 0 0 var(--horizontal-layout-ratio);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.RightBlock {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.ResizeBarWrapper {
  flex: 0 0 1px;
  position: relative;
  background: var(--color-resize-bar);
}

.ResizeBar {
  position: absolute;
  left: -2px;
  width: 7px;
  height: 100%;
  cursor: ew-resize;
}

@media screen and (max-width: 600px) {
  .Layout {
    flex-direction: column;
    --resize-direction: vertical;
  }

  .LeftBlock {
    flex: 0 0 var(--vertical-layout-ratio);
  }

  .RightBlock {
    flex: 1 1 50%;
  }

  .ResizeBar {
    top: -2px;
    left: 0;
    width: 100%;
    height: 7px;
    cursor: ns-resize;
  }
}
