.ListItem,
.SelectedListItem,
.DeactivatedListItem {
  color: var(--color-list-key);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}

.DeactivatedListItem {
  background-color: var(--color-background-inactive);
}

.ListItemWrapper {
  padding: 0 4px;
  white-space: pre;
  display: inline-flex;
  align-items: center;
  cursor: default;
  user-select: none;
  vertical-align: top;
}

.SelectedListItem {
  background-color: var(--color-background-selected);
  color: var(--color-text-selected);

  /* Invert colors */
  --color-list-key: var(--color-list-key-inverted);
  --color-text: var(--color-text-selected);
  --color-expand-collapse-toggle: var(--color-list-key-inverted);

  --color-executor-fulfilled: var(--color-text-selected);
  --color-executor-rejected: var(--color-text-selected);
  --color-warning: var(--color-text-selected);
  --color-executor-unsettled: rgba(255, 255, 255, 0.6);
}

.Highlight {
  background-color: var(--color-search-match);
}

.StatsIndicator {
  margin-inline-end: 4px;
}
