:root {
    --inspection-view-indent: 0
}

.InspectionView {
    display: flex;
    margin-inline-start: calc(var(--inspection-view-indent) * 1em);
}

.ExpandCollapseToggle {
    flex: 0 0 1em;
    width: 1em;
    padding: 0;
    color: var(--color-expand-collapse-toggle);
}

.ExpandCollapseToggleSpacer {
    padding-inline-start: 1em;
}

.keyDescription {
    color: var(--color-attribute-name-not-editable);
    flex: 0 0 auto;
    cursor: default;
}

.AfterkeyDescription {
    color: var(--color-text);
    margin-inline-end: 0.5em;
}

.valueDescription {
    color: var(--color-attribute-value);
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    flex: 1;
}
