:root {
    --inspection-view-indent: 0
}

.InspectionView {
    display: flex;
    margin-inline-start: calc(var(--inspection-view-indent) * 1em);
}

.ExpandCollapseToggle {
    width: 15px;
    height: 15px;
    color: var(--color-expand-collapse-toggle);
}
.ExpandCollapseToggle.Expanded {
    transform: rotate(90deg);
}

.ExpandCollapseToggleSpacer {
    padding-inline-start: 15px;
}

.KeyDescription {
    color: var(--color-attribute-name-not-editable);
    flex: 0 0 auto;
    cursor: default;
}

.AfterKeyDescription {
    color: var(--color-text);
    margin-inline-end: 0.5em;
}

.ValueDescription {
    color: var(--color-attribute-value);
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    flex: 1;
}
