:root {
    --color-stats-indicator-unsettled: #cbcbcb;
    --color-stats-indicator-fulfilled: green;
    --color-stats-indicator-rejected: red;
    --color-stats-indicator-warning: #F57900;
}

.StatsIndicator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    position: relative;
    vertical-align: top;
}

.Icon {
    position: absolute;
    width: 15px;
    height: 15px;
}

.SpinnerIcon {
    composes: Icon;
    animation: Spin 750ms linear infinite;
}

.Unsettled {
    color: var(--color-stats-indicator-unsettled);
}

.Fulfilled {
    color: var(--color-stats-indicator-fulfilled);
}

.Rejected {
    color: var(--color-stats-indicator-rejected);
}

.Warning {
    color: var(--color-stats-indicator-warning);
}

@keyframes Spin {
    100% {
        transform: rotate(1turn);
    }
}